<script type="text/javascript" id="/masonry.min.js"></script>

<span (click)="back()">Back</span>
<div class="wpeo-button button-main" (click)="add()"><span>Add Task</span></div>

<div appMasonry class="tasks">
	<div class="task" *ngFor="let task of tasks">
		<div class="task-content {{task.front_info.display_color}}">

			<ul class="task-header">
				<li class="task-owner">
					<div class="user" style="width: 32px; height: 32px;">
						<img class="avatar avatar-32" src="http://2.gravatar.com/avatar/e687cb4a2450eb958a3e56294372e77e?s=32&amp;d=blank&amp;r=g">
					</div>
				</li>

				<li class="task-id">#{{task.id}}</li>
				<li class="task-title">
					<input type="text"
						[(ngModel)]="task.title"
						(blur)="edit(task);" />
				</li>
				<li appWpeoDropdown class="wpeo-dropdown task-setting">
					<span class="dropdown-toggle fa fa-ellipsis-v" aria-hidden="true"></span>

					<ul class="dropdown-content">
						<app-task-option [task]="task"></app-task-option>
					</ul>
				</li>
			</ul>

			<ul class="task-sub-header">
				<li class="task-elapsed-time">
					<span class="fa fa-clock-o" aria-hidden="true"></span>
					<span>{{task.time_info.time_display}}</span>
				</li>
				<li>
					<span class="fa fa-history" aria-hidden="true"></span>
				</li>
			</ul>

			<div class="points">
				<app-point [completed]="false" [points_id]="task.task_info.order_point_id"></app-point>

				<div class="point add">
					<ul class="point-container">
						<li class="point-content">
							<input type="text" name="content" value="" [(ngModel)]="content">
						</li>

						<li>
							<div class="wpeo-button button-radius-1" (click)="addPoint(task.id, content)"><span class="fa fa-plus" aria-hidden="true"></span></div>
						</li>
					</ul>
				</div>
			</div>

			<div class="point-completed-toggle">
				<p>
					<span class="icon">+</span>
					<span class="point-completed">Points completés&nbsp;(<span class="point"><span class="point-completed">0</span>/<span class="total-point">1</span></span>)</span>
				</p>

				<div class="points">
					<app-point [completed]="true" [points_id]="task.task_info.order_point_id"></app-point>
				</div>
			</div>

			<ul class="task-categories">
				<app-category [categories_id]="task.taxonomy.wpeo_tag"></app-category>

				<li>
					<span class="icon">+</span>
					<span>Catégories</span>
				</li>
			</ul>

			<ul class="task-users">
				<app-user></app-user>

				<li>
					<span class="icon">+</span>
					<span>Utilisateurs</span>
				</li>
			</ul>
		</div>
	</div>
</div>
