<script type="text/javascript" id="/masonry.min.js"></script>

<span (click)="back()">Back</span>
<app-navigation></app-navigation>
<div class="wpeo-button button-main" (click)="add()"><span>Add Task</span></div>

<div appMasonry class="tasks">
	<div class="task" *ngFor="let task of tasks">
		<div class="task-content {{task.front_info.display_color}}">

			<ul class="task-header">
				<app-owner [task]="task"></app-owner>

				<li class="task-id">#{{task.id}}</li>
				<li class="task-title">
					<input type="text"
						[(ngModel)]="task.title"
						(blur)="edit(task);" />
				</li>
				<li appWpeoDropdown class="wpeo-dropdown task-setting">
					<span class="dropdown-toggle fa fa-ellipsis-v" aria-hidden="true"></span>

					<ul class="dropdown-content">
						<app-task-option [task]="task"></app-task-option>
					</ul>
				</li>
			</ul>

			<ul class="task-sub-header">
				<li class="task-elapsed-time">
					<span class="fa fa-clock-o" aria-hidden="true"></span>
					<span>{{task.time_info.time_display}}</span>
				</li>
				<li>
					<app-time-history [task]="task"></app-time-history>
				</li>
			</ul>

			<div class="points">
				<app-point [task]="task" [completed]="false" [points_id]="task.task_info.order_point_id"></app-point>

				<app-point-add [task]="task"></app-point-add>
			</div>

			<div class="point-completed-toggle">
				<p>
					<span class="icon">+</span>
					<span class="point-completed">Points completés&nbsp;(<span class="point"><span class="point-completed">0</span>/<span class="total-point">1</span></span>)</span>
				</p>

				<div class="points">
					<app-point [task]="task" [completed]="true" [points_id]="task.task_info.order_point_id"></app-point>
				</div>
			</div>

			<ul class="task-categories">
				<app-category [categories_id]="task.taxonomy.wpeo_tag"></app-category>

				<li>
					<span class="icon">+</span>
					<span>Catégories</span>
				</li>
			</ul>

			<ul class="task-users">
				<app-user></app-user>

				<li>
					<span class="icon">+</span>
					<span>Utilisateurs</span>
				</li>
			</ul>
		</div>
	</div>
</div>
