<div *ngIf="! authDataService.connected " class="container">
	<h2>Login</h2>

	<div>
		<form #appForm="ngForm">
			<div class="form-group">
				<label for="clientKey">Client Key</label>
				<input type="text" class="form-control" id="clientKey"
					required
					[(ngModel)]="model.clientKey"
					name="clientKey" />
			</div>
			<div class="form-group">
				<label for="clientSecret">Client Secret</label>
				<input type="text" class="form-control" id="clientSecret"
					required
					[(ngModel)]="model.clientSecret"
					name="clientSecret" />
			</div>
			<button type="button" class="btn btn-primary" (click)="login(model);">Login</button>
			<div *ngIf="loading">Loading...</div>
		</form>
	</div>
</div>

<button type="button" class="btn btn-primary" (click)="test();">TTESTLogin</button>
