<div class="point" [hidden]="completed" *ngFor="let point of task.pointsUncompleted">
	<ul class="point-container">
		<li class="point-sortable">
			<span>o</span>
		</li>
		<li class="point-valid">
			<input type="checkbox" [(ngModel)]="point.point_info.completed" (change)="edit(point)" />
		</li>
		<li class="point-id">
			<span>#{{point.id}}</span>
		</li>
		<li class="point-content">
			<textarea appFlextext
				[(ngModel)]="point.content"
				(blur)="edit(point)">{{point.content}}</textarea>
		</li>

		<li class="point-time">
			(C)
			<span class="wpeo-time-in-point">0</span>
		</li>

		<li appWpeoDropdown class="wpeo-dropdown point">
			<span class="dropdown-toggle fa fa-ellipsis-v" aria-hidden="true"></span>

			<ul class="dropdown-content">
				<app-point-option [point]="point"></app-point-option>
			</ul>
		</li>
	</ul>
</div>

<div class="point" [hidden]="! completed" *ngFor="let point of task.pointsCompleted">
	<ul class="point-container">
		<li class="point-sortable">
			<span>o</span>
		</li>
		<li class="point-valid">
			<input type="checkbox" [(ngModel)]="point.point_info.completed" (change)="edit(point)" />
		</li>
		<li class="point-id">
			<span>#{{point.id}}</span>
		</li>
		<li class="point-content">
			<textarea appFlextext
				[(ngModel)]="point.content"
				(blur)="edit(point)">{{point.content}}</textarea>
		</li>

		<li class="point-time">
			(C)
			<span class="wpeo-time-in-point">0</span>
		</li>

		<li class="point-setting">|</li>
	</ul>
</div>
