.task-color {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-right: 1px solid rgba(0,0,0,.1);

	.color-element {
		width: 33.333333%;
		padding: 0;
	}

	span {
		width: 26px;
		height: 26px;
		display: inline-block;
		border-radius: 50%;
		margin-right: 4px;
		border: 1px solid rgba(0,0,0,.2);
	}

	.white {
		background: #fff;
		border: 1px solid rgba(0,0,0,.2);
	}

	.red {
		background: #ffc9ca;
		border: 1px solid #ff4246;
	}

	.yellow {
		background: #fff1bd;
		border: 1px solid #ffbd41;
	}

	.green {
		background: #dfffd8;
		border: 1px solid #35c54e;
	}

	.blue {
		background: #d5eaff;
		border: 1px solid #389af6;
	}

	.purple {
		background: #e6d2ff;
		border: 1px solid #7c41c7;
	}
}
